// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@700&family=Poppins:wght@400;500&display=swap');


html,body, #app, .v-application, .v-main  {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(90deg, #7de0ba 0%, #5845e7 100%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

// Headings & Fonts
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

button, input, select, textarea {
  font-family: 'Poppins', sans-serif;
}
